body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0c0000;
    color: #ffffff;
}

#title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    padding: 2%;
    margin: 0 auto;
    transition: all 0.5s ease 0s;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #d6e396;
}

#content {
    position: relative;
    width: 70%;
    height: 80vh;
    background-color: #ebccea;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 15px;
    /* transition: all 0.5s; */
}

#content li {
    margin-top: 5%;
}

#one {
    width: 70%;
    height: 60vh;
    background-color: #b11010;
    margin: 0 auto;
    border: 1px solid black;

}

#two {
    width: 80%;
    height: 60vh;
    /* border: 1px solid rgb(91, 19, 19); */
    margin: 0 auto;
}

#two div {
    float: left;
    clear: left;
    width: 100%;
    height: 20%;
    background-color: #1323d6;
    border: 1px solid black;

}

#two div:nth-child(1) {
    background-color: #e54fed;
}

#two div:nth-child(2) {
    background-color: #3ee18a;
    height: 60%;
}

#two div:nth-child(3) {
    background-color: #d5e55d;
}

#three {
    margin: 0 auto;
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#three div {
    border: 1px solid black;

}

#three div:nth-child(1) {
    flex: 0.2;
    background-color: #dfdc8e;
    /* width: 30%; */
}

#three div:nth-child(2) {
    flex-grow: 1;
    background-color: #d91875;
    /* width: 30%; */
}

#four {
    display: grid;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    background-color: #070000;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns: 1fr 4fr;
}

#four div {
    border: 1px solid black;

}

#four div:nth-child(1) {
    grid-area: 1/1/1/3;
    background-color: #ff0000;
}

#four div:nth-child(2) {
    grid-area: 3/1/2/2;
    background-color: #7634c6;
}

#four div:nth-child(3) {
    grid-area: 3/2/2/3;
    background-color: #1cca99;
}

#four div:nth-child(4) {
    grid-area: 4/1/3/3;
    background-color: #43dd43;
}

#five {
    display: grid;
    width: 80%;
    height: 60vh;
    background-color: #070000;
    margin: 0 auto;
    grid-template-rows: 2fr 5fr 1fr;
}

#five div {
    border: 1px solid black;

}

#five #fiveOne {
    float: left;
}

#fiveOne div:nth-child(1) {
    height: 60%;
    background-color: #1aef41;
}

#fiveOne div:nth-child(2) {
    height: 40%;
    background-color: #d266ec;
}

#five div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#five div:nth-child(2) div {
    flex: 1;
    height: 100%;
    background-color: #fff;
}

#title li:hover {
    background-color: #ed4646;
    font-size: 20px;
    /* transform: scale(1.2); */

}

#title li {
    transition: all 0.5s ease 0s;
}

#title li {
    cursor: pointer;
    padding: 0 3%;
    border-radius: 5px;
    /* height: 30px; */
    /* background-color: #fff; */
}